<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 post-box">
	<div class="tile post-index">
		<h6>fdsaf</h6>
		<p>fdsafsa</p>
		<img alt="fdsaf" class="tile-image" data-postmodal-id="2" src="http://www.aabar.me/system/posts/icons/000/000/002/medium/mail.png?1412477458">
		<div class="over-post-index">
			<a title="View">
				<span class="fui-eye" data-postmodal-id="2"></span>
			</a>
			<a href="/posts/2" style="margin-left:15px;" target="_blank" title="Show">
				<span class="fui-resize"></span>
			</a>
			<a href="#" style="margin-left:15px;" title="Chan">
				<span class="fui-star-2"></span>
			</a>
			<a href="#" style="margin-left:15px;" title="Share">
				<span class="fui-export"></span>
			</a>
		</div>
		<div class="over-post-tag">
			<span>街机游戏</span>
		</div>
	</div>
</div>