// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_body{
      margin-bottom: 70px;
      font-family: 'Lato','微软雅黑';
}

.home-top{
	width: 100%;
	img{
		width: 100%;
	}
}

.home-ad-text{
	width: 100%;
	height: auto;
	text-align: center;
	z-index: 10;
	margin-top: 15%;
	position: absolute;
}

.home-center{
	background: #f8f8f8;
	height: auto;
	padding-top: 36px;
	padding-bottom: 36px;
}

.home-bottom{
	padding-top: 36px;
	background: #FFFFFF;
	height: auto;
}

.nav-home{
	 // background: none;
     background: url('/assets/icons/jianbian.png') no-repeat;
     background-size: cover;
     height: 70px;
       a.navbar-brand{
        color: #ddd;
       }
      ul.nav{
        .dropdown
        {
          b.caret{
            border-top-color: #ddd;
            border-bottom-color: #ddd;
           }
        }
        li{
          a{
            color: #FFFFFF;
          }
          ul.dropdown-menu{
            li{
              a
              {
                color: #34495e;
              }
            }
          }
        }
      }
    }

#home_top_nav{
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  display: none;
  background: #000;
  opacity: 0.3;
  // background: url('/assets/icons/jianbian.png') no-repeat;
  // background-size: cover;
}