// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.froala-element{
	border-radius: 0 0 4px 4px;
	background: #FFFFFF;
	border:0px !important;
	border-top:#ccc 1px solid  !important;
}

.froala-editor{
	border:0px !important;
	padding: 10px 10px 10px 0px !important;
}
.f-sep{
	height: 25px !important;
}
.froala-editor button.fr-bttn,.froala-editor button.fr-trigger{
	color: #34495e;
}



#post-frame{
	position: fixed;
	width: 0px;
	height: 100%;
	right: -2px;
	top: 0;
	z-index: 3000;
	border:0px;
	margin: 0px;
	padding: 0px;
	background: #FFFFFF;
	border-left: #34495e 2px solid;
}

#post-frame-bg{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2500;
	border:0px;
	margin: 0px;
	padding: 0px;
	background: #FFFFFF;
	background-size: 100%;
	display: none;
	opacity:0;
	filter:alpha(opacity=0);
}



.over-post-index{
	display: none;
	position: relative;

	font-size: 14px;
	span:hover{
		cursor: pointer;
	}
	a{
		color: #95A5A6;
	}
	a:hover{
		cursor: pointer;
		color: #1abc9c;
	}
}

.over-post-tag{
	display: block;
	text-align: center;
	font-size: 13px;
	line-height: 25px;
	color: #95A5A6;
}

.post-index:hover  .over-post-tag{
	display: none;
}
.post-index:hover .over-post-index{
	display: block;
}

.post-index{
	height: 300px;
	img:hover{
		cursor: pointer;
	}
	h6{
		width: 100%;
		word-break:keep-all;
   		white-space:nowrap;
		text-overflow:ellipsis;
	}
	p{
		overflow: hidden;
		margin-bottom: 0px;
		width: 100%;
		word-break:keep-all;
   		white-space:nowrap;
		text-overflow:ellipsis;
	}
}


.input-select{
	height: 40px;
	cursor: pointer;
      	background: #FFFFFF;
      	border-radius: 4px;
      	border:2px solid #bdc3c7;
}

.red{
	color: #e74c3c !important;
}

