// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_body{
	background: url('/assets/pic/user_b.jpg') no-repeat;
	background-size:cover;
	background-attachment:fixed;
	font-family: 'Lato','微软雅黑';
}

.user-form-box{
	background: #FFF;
	padding-left: 36px;
	border-radius: 6px;
	padding-right: 36px;
	padding-top: 20px;
	padding-bottom: 10px;
}

//第三方登录
.user-third-party-pic{
	width: 36px;
	height: 36px;
	margin-left: 10px;
}


.message-box{
	background: #e1e6ed;
	border-radius: 6px;
	padding: 36px;
	margin-bottom: 20px;
}

