// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_body{
	background: url('/assets/pic/user_b.jpg') no-repeat;
	background-size:cover;
	background-attachment:fixed;
}

.user-form-box{
	background: #FFF;
	padding-left: 36px;
	border-radius: 6px;
	padding-right: 36px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.user-third-section{
	margin-left:20px;
	// color:#34495e;
	color: #3498db;
}